absl-py>=0.7.0
appnope>=0.1.0
astor>=0.7.1
backcall>=0.1.0
cloudpickle>=0.6.1
cycler>=0.10.0
dask>=2021.10.0
decorator>=4.3.0
gast>=0.4.0
grpcio>=1.18.0
h5py>=3.1.0
ipython>=7.2.0
ipython-genutils>=0.2.0
jedi>=0.13.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver>=1.0.1
Markdown>=3.0.1
matplotlib>=3.5.0
networkx>=2.2
numpy>=1.20.0
parso>=0.3.1
pexpect>=4.6.0
pickleshare>=0.7.5
Pillow>=9.0.0
prompt-toolkit>=2.0.7
protobuf>=3.19.0
ptyprocess>=0.6.0
Pygments>=2.3.1
pyparsing>=2.3.0
python-dateutil>=2.7.5
PyWavelets>=1.0.1
scikit-image>=0.19.0
scipy>=1.7.0
six>=1.12.0
tensorboard>=2.8.0
tensorboardX>=2.5.0
# tensorflow>=2.8.0  # Uncomment if you need TensorFlow
termcolor>=1.1.0
toolz>=0.9.0
torch>=1.10.0
torchvision>=0.11.0
tqdm>=4.29.1
traitlets>=4.3.2
wcwidth>=0.1.7
Werkzeug>=2.0.0
wandb>=0.12.0
